/*keyframes*/
@keyframes drop {
    0% {
        opacity: 0.6;
        transform: translateY(-50px);
    }
    100% {
        opacity: 0.9;
        transform: translateY(0px);
    }
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 500vh;
    font-family: sans-serif;
}
header {
    display: flex;
    width: 100%;
    height: 800px;
}
nav {
    color: rgb(21, 9, 32);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 70px;
    background: white;
    z-index: 100;
}
.iconBox {
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.navBtnBox {
    font-size: 25px;
    font-weight: bold;
    margin-right: 50px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.navBtnBox * {
    cursor: pointer;
}
.headerInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 800px;
    color: black;
    background-color: white;
}
.headerInfo h1 {
    color: rgb(39, 17, 59);
    text-justify: inter-word;
    font-size: 60px;
    display: flex;
    max-width: 500px;
}
.headerInfo p {
    opacity: 0.8;
    font-size: 20px;
    width: 500px;
}
.headerInfo div{
    width: 500px;
}
.headerInfo button {
    margin-top: 50px;
    width: 250px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-image: url("./icons/btnBack.jpg");
    background-position: left;
    color: whitesmoke;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.sectionPhoto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    width: 50%;
    height: 800px;
    background-color: rgb(215, 242, 255);
    opacity: 0.95;
}
.sectionPhoto img {
    transition: ease-in 0.2s;
    height: 120%;
}
@media only screen and (max-width: 900px) {
    .sectionPhoto {
        display: none;
    }
    .headerInfo {
        text-align: center;
        width: 100%;
    }
    .headerInfo p {
        width: 95%;
    }
    .headerInfo div {
        width: 95%;
    }
    nav {
        display: none;
    }
}
.aboutUs {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 80%;
}
.aboutUs > h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    max-width: 600px;
}
.line {
    position: absolute;
    width: 200px;
    height: 5px;
    background: black;
}
.aboutUsMain {
    width: 100%;
    display: flex;
}
.aboutUsMain > div{
    margin-top: 50px;
    display: flex;
    width: 50%;
    height: 600px;
}
.thanks {
    flex-direction: column;
}
.thanks h1 {
    font-size: 35px;
}
.thanks p {
    font-size: 25px;
    width: 70%;
}
.reportBug {
    flex-direction: column;
    align-items: center;
}
.reportBug {
    font-size: 25px;
}
.reportBugForm {
    padding-top: 20px;
    border-radius: 5px;
    width: 80%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.024),
    0 6.7px 2.3px rgba(0, 0, 0, 0.018),
    0 12.5px 4px rgba(0, 0, 0, 0.06),
    0 22.3px 5.9px rgba(0, 0, 0, 0.032),
    0 41.8px 33.4px rgba(0, 0, 0, 0.026),
    0 100px 20px rgba(0, 0, 0, 0.12);
}
.clientInputs input {
    width: 200px;
    height: 30px;
    border: none;
    background: rgb(241, 235, 241);
    font-size: 20px;
    text-align: center;
}
.messageBox {
    width: 100%;
}
.messageBox p {
    padding-bottom: 2px;
    font-weight: bold;
    border-bottom: solid black 4px;
    margin-left: 10%;
    width: 150px;
}
.messageBox textarea {
    margin-left: 10%;
    height: 200px;
    background: white;
    width: 80%;
    resize: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px 5px 10px 5px;
}
.reportBugForm button {
    margin-top: 25px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background: white;
    border: solid black 2px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.reportBugForm button:hover {
    transition: ease-in 0.1s;
    color: whitesmoke;
    background-color: black;
}
@media only screen and (max-width: 1350px) {
    .aboutUs {
        width: 100%;
    }
    .aboutUsMain {
        flex-direction: column;
    }
    .aboutUsMain > div {
        margin-left: 10%;
        width: 80%;
    }
    .thanks {
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 850px) {
    .aboutUsMain > div {
        margin: 50px 0 50px 0;
        width: 100%;
        height: auto;
    }
    .clientInputs {
        text-align: center;
    }
    .clientInputs input:nth-child(1) {
        margin-bottom: 10px;
    }
    .aboutUs > h1 {
        font-size: 25px;
        margin: 0;
    }
    .thanks h1 {
        font-size: 20px;
    }
    .thanks p,.thanks h2 {
        font-size: 18px;
    }
    .reportBug {
        font-size: 18px;
    }
    .reportBugForm {
        padding-bottom: 25px;
        width: 100%;
        border-radius: 0;
        box-shadow: "";
    }
}
.daily {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    min-height: 600px;
    background: whitesmoke;
    color: black;
}
.daily h1 {
    font-size: 40px;
    text-align: center;
}
.challangeList {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.challangeList div {
    cursor: pointer;
    margin-top: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.challangeList > div > img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.challangeList > div > p {
    text-align: center;
    color: black;
    font-size: 28px;
    font-weight:  bold;
}
@media only screen and (max-width: 800px) {
    .challangeList {
        flex-direction: column;
        align-items: center;
    }
}
.dailyResultCharacter {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
}
.dailyResultCharacter > h1 {
    text-align: center;
    font-size: 40px;
    margin: 80px 0 80px 0;
    letter-spacing: 2px;
}
.dailyResult-imageBoxCharacter {
    overflow: hidden;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.dailyResult-imageCharacter {
    height: 100%;
    transform-style: preserve-3d;
}
.dailyResult-infoCharacter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: whitesmoke;
    height: 80vh;
    z-index: 100;
    font-size: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.0);
    font-family: 'Teko', sans-serif;
}
.dailyResult-infoCharacter > * {
    margin: 0;
    padding: 0;
}
.dailyResult-infoCharacter > p {
    font-size: 35px;
}
.dailyResult-infoCharacter > h1 {
    letter-spacing: 2px;
    font-size: 150px;
}
@media only screen and (max-width: 500px) {
    .dailyResult-infoCharacter > p {
        font-size: 30px;
    }
    .dailyResult-infoCharacter > h1 {
        font-size: 120px;
    }
}