/*keyframes*/
@keyframes drop {
    0% {
        opacity: 0.6;
        transform: translateY(-50px);
    }
    100% {
        opacity: 0.9;
        transform: translateY(0px);
    }
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
a:visited, a {
    color: black;
    outline: none;
    text-decoration: none;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header {
    display: flex;
    width: 100%;
    height: 800px;
}
.navDesktop {
    color: rgb(21, 9, 32);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 70px;
    background: white;
    z-index: 1000;
}
.navMobile {
    color: black;
    position: fixed;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 70px;
    background: white;
    z-index: 1000;
}
.showNavBtn {
    margin-right: 25px;
    height: 45px;
    width: 45px;
    outline: none;
    border: none;
    background-color: transparent;
}
.showNavBtn i {
    color: rgb(26, 26, 37);
    font-size: 30px;
    transition: ease-in 0.1s;
}
.showNavBtn i:hover {
    font-size: 30px;
    transform: rotate(15deg);
}
.navMobile-list {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 70px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 0px;
    background-color: white;
    overflow: hidden;
    transition: all 0.5s;
}
.navMobile-list > h1 {
    cursor: pointer;
}
.iconBox {
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.navBtnBox {
    font-size: 25px;
    font-weight: bold;
    margin-right: 50px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.navBtnBox * {
    cursor: pointer;
}
.headerInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 800px;
    color: black;
    background-color: white;
}
.headerInfo h1 {
    color: rgb(39, 17, 59);
    text-justify: inter-word;
    font-size: 60px;
    display: flex;
    max-width: 500px;
}
.headerInfo p {
    opacity: 0.8;
    font-size: 20px;
    width: 500px;
}
.headerInfo div{
    width: 500px;
}
.headerInfo button {
    margin-top: 50px;
    width: 250px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-image: url("./icons/btnBack.jpg");
    background-position: left;
    color: whitesmoke;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.sectionPhoto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    width: 50%;
    height: 800px;
    background-color: rgb(215, 242, 255);
    opacity: 0.95;
}
.sectionPhoto img {
    transition: ease-in 0.2s;
    height: 120%;
}
@media only screen and (max-width: 900px) {
    .sectionPhoto {
        display: none;
    }
    .headerInfo {
        text-align: center;
        width: 100%;
    }
    .headerInfo p {
        width: 95%;
    }
    .headerInfo div {
        width: 95%;
    }
    .navDesktop {
        display: none;
    }
    .navMobile {
        display: flex;
    }
    .iconBox {
        font-size: 25px;
        margin-left: 25px;
    }
}
.aboutUs {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 80%;
}
.aboutUs > h1 {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    max-width: 600px;
}
.line {
    position: absolute;
    width: 200px;
    height: 5px;
    background: black;
}
.aboutUsMain {
    width: 100%;
    display: flex;
}
.aboutUsMain > div{
    margin-top: 50px;
    display: flex;
    width: 50%;
    height: 600px;
}
.thanks {
    flex-direction: column;
}
.thanks h1 {
    font-size: 35px;
}
.thanks p {
    font-size: 25px;
    width: 70%;
}
.reportBug {
    flex-direction: column;
    align-items: center;
}
.reportBug {
    font-size: 25px;
}
.reportBugForm {
    padding-top: 20px;
    border-radius: 5px;
    width: 80%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.024),
    0 6.7px 2.3px rgba(0, 0, 0, 0.018),
    0 12.5px 4px rgba(0, 0, 0, 0.06),
    0 22.3px 5.9px rgba(0, 0, 0, 0.032),
    0 41.8px 33.4px rgba(0, 0, 0, 0.026),
    0 100px 20px rgba(0, 0, 0, 0.12);
}
.clientInputs input {
    width: 200px;
    height: 30px;
    border: none;
    background: rgb(241, 235, 241);
    font-size: 20px;
    text-align: center;
}
.messageBox {
    width: 100%;
}
.messageBox p {
    padding-bottom: 2px;
    font-weight: bold;
    border-bottom: solid black 4px;
    margin-left: 10%;
    width: 150px;
}
.messageBox textarea {
    margin-left: 10%;
    height: 200px;
    background: white;
    width: 80%;
    resize: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px 5px 10px 5px;
}
.reportBugForm button {
    margin-top: 25px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    background: white;
    border: solid black 2px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.reportBugForm button:hover {
    transition: ease-in 0.1s;
    color: whitesmoke;
    background-color: black;
}
@media only screen and (max-width: 1350px) {
    .aboutUs {
        width: 100%;
    }
    .aboutUsMain {
        flex-direction: column;
    }
    .aboutUsMain > div {
        margin-left: 10%;
        width: 80%;
    }
    .thanks {
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 850px) {
    .aboutUsMain > div {
        margin: 50px 0 50px 0;
        width: 100%;
        height: auto;
    }
    .clientInputs {
        text-align: center;
    }
    .clientInputs input:nth-child(1) {
        margin-bottom: 10px;
    }
    .aboutUs > h1 {
        font-size: 25px;
        margin: 0;
    }
    .thanks h1 {
        font-size: 20px;
    }
    .thanks p,.thanks h2 {
        font-size: 18px;
        text-align: center;
    }
    .reportBug {
        font-size: 18px;
    }
    .reportBugForm {
        padding-bottom: 25px;
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }
}
.daily {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    min-height: 600px;
    background: rgb(252, 252, 252);
    color: black;
}
.daily h1 {
    font-size: 40px;
    text-align: center;
}
.challangeList {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.challangeList div {
    cursor: pointer;
    margin-top: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.challangeList > div > a > img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.challangeList > div > a > p {
    text-align: center;
    color: black;
    font-size: 28px;
    font-weight:  bold;
}
@media only screen and (max-width: 800px) {
    .challangeList {
        flex-direction: column;
        align-items: center;
    }
}
.dailyResultCharacter {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dailyResultCharacter > h1 {
    color: black;
    text-align: center;
    font-size: 40px;
    margin: 160px 0 80px 0;
    letter-spacing: 2px;
}
.dailyResult-imageBoxCharacter {
    margin-top: 140px;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.dailyResult-imageCharacter {
    height: 100%;
    transform-style: preserve-3d;
}
.dailyResult-infoCharacter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: whitesmoke;
    height: 80vh;
    z-index: 100;
    font-size: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.0);
    font-family: 'Teko', sans-serif;
}
.dailyResult-infoCharacter > * {
    margin: 0;
    padding: 0;
}
.dailyResult-infoCharacter > p {
    font-size: 35px;
}
.dailyResult-infoCharacter > h1 {
    letter-spacing: 2px;
    font-size: 150px;
}
@media only screen and (max-width: 500px) {
    .dailyResult-infoCharacter > p {
        font-size: 30px;
    }
    .dailyResult-infoCharacter > h1 {
        font-size: 120px;
    }
}
.challengeResult {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.challengeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 55%;
    height: 50vh;
    background-color: #2f3a46ed;
    color: rgb(253, 251, 251);
}
.challengeInfo h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 70px;
    letter-spacing: 1px;
}
.challengeInfo p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.challengeInfo h2 {
    font-size: 30px;
}
@media only screen and (max-width: 1200px) {
    .challengeResult {
        margin: 0 0 100px 0;
    }
    .challengeInfo {
        width: 75%;
    }
    .challengeInfo h1 {
        font-size: 50px;
    }
    .challengeInfo p {
        font-size: 20px;
    }
}
@media only screen and (max-width: 800px) {
    .challengePhoto {
        display: none;
    }
    .challengeInfo {
        width: 100%;
        overflow: hidden;
    }
    .challengeInfo h1 {
        font-size: 30px;
    }
    .challengeInfo p {
        font-size: 18px;
    }
}
.createChallange {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}
.createChallange-infoBox {
    width: 800px;
    height: 510px;
    background-color: #24303c;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} 
.ChallangeForm {
    padding: 50px 25px 80px 25px;
    max-width: 500px;
    background-color: #24303c;
}
.ChallangeForm-options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ChallangeForm-options button {
    outline: none;
    width: 250px;
    height: 50px;
    border: none;
    background-color: rgb(59, 59, 59);
    color: whitesmoke;
    font-size: 24px;
    font-weight: normal;
    opacity: 0.9;
}
.ChallangeForm > h1 {
    margin: 30px 0 30px 0;
    font-size: 28px;
    color: whitesmoke;
    font-weight: normal;
}
.ChallangeForm-options .clicked {
    background-color: rgb(82, 177, 140);
    color: whitesmoke;
    opacity: 1;
}
.ChallangeForm-name {
    width: 80%;
    height: 36px;
    padding: 0 10px 0 10px;
    border: solid rgba(245, 245, 245, 0.808) 2px;
    background-color: transparent;
    outline: none;
    color: whitesmoke;
}
.ChallangeForm-desc {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ChallangeForm-desc p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: whitesmoke;
    font-weight: bold;
    background-color: rgb(82, 177, 140);
}
.ChallangeForm-desc input {
    width: calc(80% - 40px);
    height: 36px;
    padding: 0 10px 0 10px;
    border: solid rgba(245, 245, 245, 0.808) 2px;
    border-left: none;
    color: whitesmoke;
    background-color: transparent;
    outline: none;
}
.ChallangeForm-difficulty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(80% + 20px);
    margin: auto;
}
.ChallangeForm-difficulty select{
    width: 48%;
    height: 36px;
    padding-left: 5px;
    font-size: 18px;
    border: solid rgba(245, 245, 245, 0.808) 2px;
    outline: none;
    background-color: transparent;
    color: whitesmoke;
}
.ChallangeForm-difficulty option {
    color: black;
}
.ChallangeForm-submit {
    margin-top: 40px;
    width: calc(80% + 20px);
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(82, 177, 140);
    color: whitesmoke;
    border: none;
}
@media only screen and (max-width: 1000px) {
    .createChallange-infoBox {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .createChallange {
        margin-bottom: 0;
    }
    .ChallangeForm {
        width: 100%;
        overflow: auto;
    }
}

/*Footer section*/
footer {
    height: 400px;
    width: 100%;
    background-color: #1a232c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footerIconsBox {
    color: whitesmoke;
    font-size: 50px;
}
.footerIconsBox i:nth-child(2) {
    margin: 0 10px 0 10px;
}
.footerIconsBox i {
    opacity: 0.9;
}
.footerIconsBox i:hover {
    opacity: 1;
}
.footerLinks {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
.footerLinks p {
    opacity: 0.9;
    cursor: pointer;
}
.footerLinks p:hover {
    opacity: 1;
}
.footerLinks p:nth-child(1) {
    margin-right: 20px;
}
.FootercopyRights {
    opacity: 0.7;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
}